.header{
    text-align: center;
    margin:20px 0;
}
.me{
    width: 114px;
    border-radius:50%;
}
.name{
    color:#444;
    font-size:42px;
    margin-top:10px;
    margin-bottom: 10px;
    font-family: cursive;
}