.header{
  margin-top:30px;
  padding:10px;
}
.h1{
  font-size:23px;
}
.contentBox{

  .content {
    border: 1px solid #ccc;
    border-radius: 3px;
    height:200px;
    width:600px;
    font-size:13px;
    &:hover, &:focus{
      outline: none;
    }
  }
}
