.menu {
  font-size: 22px;
  margin: 50px 0;
  text-align: center;
  position: relative;
}
.menus {
  transition: all 0.5s;
  position: absolute;
  top: -40px;
  left: 188px;
  & > div >span {
    color: white;
    display: inline-block;
    width: 80px;
    position: relative;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:hover {
      color: #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      transition: all 0.5s;
    }
  }
}
.selectd {
  display: inline-block;
  border-radius: 3px;
  background: #4dd0a5;
  height: 39px;
  width: 86px;
  color: white;
  line-height: 37px;
  font-size: 19px;
}
