{
  "stage": 0,
  "blacklist": [
    "regenerator"
  ],
  "optional": [
    "bluebirdCoroutines"
  ],
  "highlightCode": true,
  "env": {
    "development": {
      "plugins": [
        "react-transform"
      ],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "react-transform-catch-errors",
            "imports": [
              "react",
              "redbox-react"
            ]
          }]
        }
      }
    }
  }
}
