.navbar {
  color: #fff;
  height: 70px;
  text-align: center;
  padding-left: 200px;
  line-height: 70px;
  border-bottom: 1px solid #e1dbdb;
}
.logo {
  font-size: 26px;
  font-family: cursive;
}
.logo > a {
  color: #fff;
  text-decoration: none;
}
.left {
  float: right;
  text-align: right;
  width: 200px;
  font-size: 14px;
}
.left > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.left > ul > li {
  display: inline-block;
  float: left;
  text-align: center;
  height: 100%;
  width: 70px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  transition: all 0.2s;
  cursor: pointer;
}
.left > ul > li:hover {
  color: #bbb;
  border-bottom: 1px solid #696464;
}
.login {
  transition: all 0.2s;
}
.create {
  display: block;
}
.show {
  visibility: hidden;
}
.types{
  margin-left: 135px;
}
.type{
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  cursor: pointer;
  margin-right: 30px;
  background: #02AF84;
  border-radius: 50%;
  text-align: center;
  color: white;
  line-height: 100px;
}
.text{
  background: #F98888;
};
.music{
  background: coral;
};
.image{
  background: #02AF84;
};
