<!doctype html>
<html lang="zh-en">
<head>
    <meta charset="UTF-8">
    <title>{%=o.htmlWebpackPlugin.options.title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .example-enter {
      opacity: 0.01;
      transition: opacity .5s ease-in;
    }

    .example-enter.example-enter-active {
      opacity: 1;
    }

    .example-leave {
      opacity: 1;
      transition: opacity .5s ease-in;
    }

    .example-leave.example-leave-active {
      opacity: 0;
    }

    </style>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<body>
    <div id="app">

    </div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script type="text/javascript" src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
    {% } %}
</body>
</html>
