.header{
  height:40px;
  padding: 10px 12px 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #2A9AD8;
  color:white;
}
.editorArea{
  margin:0;
}
.text{
  line-height: 35px;
}
