// .h1 {
//   font-size: 27px;
// }
// .header {
//   line-height: 30px;
//   padding: 5px 0 0 5px;
//   margin: 5px;
// }
// .editor {
//   margin-top: 10px;
// }
// .editor :global .CodeMirror {
//   min-height: 600px;
//   border-radius: 3px;
//   font-size: 14px;
//   background: rgba(0, 0, 0, 0.59) !important;
//   color: #fff;
//   & .CodeMirror-cursor {
//     border-left: 1px solid #fff;
//   }
// }
// .full {
//   position: fixed;
//   left: 0;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   margin: 0;
//   padding: 10px;
//   z-index: 999;
// }
// .createActions {
//   &>a {
//     height: 35px;
//     line-height: 35px;
//     margin: 0 4px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//   }
// }
.newPost{
  padding:5px;
}
.newPost button{
  margin-left:5px;
}
.postType {
  & input[type=radio] {
    margin: 4px;
  }
}
