html, body {
  font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
  height: 100%;
  width: 100%;
  color: #444;
  margin: 0;
}
body {
  background: url("/images/03065_washingtonchinatown_2880x1800.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  transition: all 0.3s;
  overflow-x: hidden;
}
a {
  color: #444;
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
    color: #2d2c2c;
  }
}
button:hover,
button:focus,
input:hover,
input:focus {
  outline: none;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding: 1px 20px;
  max-width: 702px;
  min-width: 240px;
  margin-bottom: 30px;
}
:global .clearify{
  clear: both;
}
:global .box {
  background: #fff;
  border-radius: 3px;
  min-height: 50px;
}
:global .btn {
  color: white;
  border-radius: 3px;
  border: none;
  height: 35px;
  min-width: 65px;
  text-align: center;
  text-decoration: none;
  position: relative;
  display: inline-block;
  &:hover,
  &:focus {
    outline: none;
  };
  &.btn-success {
    background: rgb(21, 205, 144);
  }
  &.btn-close {
    background: #B7B1B2;
  }
  &.btn-done {
    background: rgb(36, 156, 233);
  }
}
:global .textarea {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  &:hover {
    outline: none;
  }
}
:global .input {
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 30px;
}
:global .ctrl {
  margin-top: 10px;
}
