.views{
  height: 60px;
  font-size: 13px;
  line-height: 55px;
  color: #444;
}
.views>ul{
  list-style: none;
  height:100%;
  padding:0;
  margin:0;
}
.views>ul>li{
  display: inline-block;
  width:33.333333%;
  height:100%;
  transition: all 0.4s;
  border-bottom: 1px solid transparent;
  text-align: center;
}
.views>ul>li:hover{
  border-bottom: 1px solid #ADAAAA;
}
.commentBox{
  padding:10px;
  line-height: 2;
}
.commentBox :global .comments{
  height:30px;
  margin:5px 0;
}
