.loginForm {
  width: 100%;
  color: white;
  position: relative;
  margin-top: 100px;
}
.ctrl {
  width: 300px;
  margin: 0 auto;
}
.input {
  margin-top: 15px;
}
.input > label {

}
.input > input[type="text"],
.input > input[type="password"] {
  padding: 5px;
  width: 290px;
  margin-top: 3px;
  color: #444;
  height: 29px;
  border-radius: 2px;
  border: 0;
}
.loginBtn {
  margin-top: 10px;
}
